

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: floralwhite;
  line-height: 1.5rem;

  background: #0D2130;
background: -webkit-linear-gradient(to bottom, #0D2130 0%, #0E2E47 25%, #58758C 74%, #9DB1BF 100%);
background: -moz-linear-gradient(to bottom, #0D2130 0%, #0E2E47 25%, #58758C 74%, #9DB1BF 100%);
background: linear-gradient(to bottom, #0D2130 0%, #0E2E47 25%, #58758C 74%, #9DB1BF 100%);
  background-repeat: no-repeat;
}

.color-hmain {
  color: #41EEFA;
}
.color-p-low {
  color: #B0D8F7;
}
.navbar-brand {
  position: relative;
  top: 0;
  left: 0;
}

.navbar-brand .circle {
  display: inline-block;
  width: 3rem;
  height: 3rem;

  border: 2px solid floralwhite;
  border-radius: 50%;
}
.navbar-brand .brand {
  display: inline-block;
  position: absolute;
  top: 19%;
  left: 19%;
}

.cover {
  display: block !important;
  margin-top: 6rem;
  width: 100%;
  height: 100vh;
}


.cover-text .color-hmain {
  margin-top: 2.0rem;
  margin-bottom: 1rem;
}
.cover-text h1 {
  font-size: 3.3rem;
  line-height: 4rem;
  margin-bottom: 2rem;
}

#features h2 {
  margin-bottom: 3.5rem;
  margin-top: 1.4;
}
#features i.fa {
  display: inline-block;
  font-size: 1.8rem;
  color: #41EEFA;
  font-weight: 700;
  width: 5rem;
  height: 5rem !important;
  border: 1px solid #e1e1e1;
  line-height: 3;
  border-radius: 50%;
  cursor: pointer;
  transition: all .7s ease 0s;
  -webkit-transition: all .7s ease 0s;
}
#features i.fa:hover {
  color: floralwhite;
  background: #41EEFA;
  border: 0;
}
#features h3 {
  margin-top: 2rem;
  margin-bottom: 1.3rem;
  padding: .3rem;
}
#features .text-black:hover {
  border-bottom: 2px solid black;
  color: #41EEFA !important;
  border-radius: 10px;
}


.feature-details {
  margin-top: 8rem;
  margin-bottom: 5rem;
}
.feature-details h4, .feature-details h2 {
  margin-bottom: 2rem;
}
.feature-details ul i.fa {
  font-size: 20px;
  color: #41EEFA;
  text-align: center;
  height: 30px;
  width: 30px;
}

.download p span {
  font-weight: 700;
}
.download p {
  font-size: 2.4rem;
  font-weight: 300;
  padding: 65px 0;
  line-height: 2;
}


.contact-heading, 
.contact-form{
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.contact-form {
  margin-bottom: 5rem;
}

.main-footer {
  margin-top: 5rem;
  margin-bottom: 5rem;
}